html{
  font-size: 14px;
  font-family: "Open Sans",Serif;

}
nav{
  background-color: white;
}

nav li{
  padding-right: 2rem;
  font-size: 1.1rem;
  font-weight: bold;
}
nav .container{
  width: 100%;
}

nav .active{
  color:#399bd1;
}

h2,#category{

  color:#399bd1;
}
h2{
  font-size: 1.7rem;
  font-weight: bold;
}
h3{
  font-size: 1.3rem;
  font-weight: bold;
}
.navbar-nav{
  padding: 1rem 1rem;
}
@media only screen and (max-width:480px) ,(orientation:portrait){
  .navbar-brand{
    display: none;
  }
}


.jumbotron{
  margin-top: 3.7rem;
  padding: 11.85rem 0rem;
  display: flex;
}

.jumbotron-bike{
  background-image: url("images/jumbotron-bike.jpg");
}
.jumbotron-beer{
  background-image: url("images/jumbotron-beer.jpg");
}
.jumbotron-duffel{
  background-image: url("images/jumbotron-duffel.jpg");
}
.jumbotron-flowers{
  background-image: url("images/jumbotron-flowers.jpg");
}
.jumbotron h1{
  text-align: center;
  font-family: "Monoton";
  color:white;
  font-size:7.1rem;
  text-shadow: -1px -1px 0px #000,1px -1px 0px #000,-1px 1px 0px #000,1px 1px 0px #000;
}



.jumbotron p{
  width: 51.3rem;
  color:white;
  text-align: center;
  text-shadow: -1px -1px 0px #000,1px -1px 0px #000,-1px 1px 0px #000,1px 1px 0px #000;
  margin: 2.8rem 0rem;

}
@media only screen and (max-width:480px) ,(orientation:portrait){
  .jumbotron h1{
    text-align: center;
    font-family: "Monoton";
    color:white;
    font-size:5.7rem;
    text-shadow: -1px -1px 0px #000,1px -1px 0px #000,-1px 1px 0px #000,1px 1px 0px #000;
  }
  .jumbotron p{
    width: 30rem;

  }
  .jumbotron{
    width: 100%;
  }
}
.btn{
  margin-top: 2rem;
  padding: 1.3rem;
  width: 11.4rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.btn:hover{
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

.btn:active{
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}

.row{
  padding-top: 20px;
  padding-bottom: 2rem;
}

.project{
  padding-bottom: 5.8rem;
}
.project .img-container-main{
  height:25rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.project .img-container{
  height:15rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.project img{
  opacity: 0.7;

}
.project img:hover{
  opacity: 1;
  transform:rotateY(30deg);
  transition: opacity 0.3s linear 0.2s,transform 0.1s linear 0s;
}

@media only screen and (max-width:480px) ,(orientation:portrait){
  .project .img-container,.project .img-container-main{
    width: 100%;
  }
  .col-md-4{
    padding-bottom: 4rem;
  }
}

#category_paragraph{
  line-height: 1.4;
  color:rgba(0, 0, 0, 0.5);
}

.trouble{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f3f3f3;
  padding: 5.2rem 0rem;
}

strong{
  font-size: 2.5rem;
  font-weight: bold;
}
.trouble p{
  width:42rem;
  text-align: center;
}

@media only screen and (max-width:480px) ,(orientation:portrait){
  strong{
    text-align: center;
    width:80%;
  }
  .trouble p{
    width:80%;
  }
}
